/*
style of overview.html page
*/
#menuApp {
	color: blue;
	background-color: #FFC125;
	height: 50px;
	width: 375px;
	max-height: 50px;
	max-width: 375px;
	position: absolute;
	top:0px;
	left:0px;
}

#t1 {
	position: absolute;
	top:-10px;
	left:5px;
	font-size: 14px;
}

#t2 {
	position: absolute;
	top:14px;
	left:5px;
	font-size: 12px;
}

#wrapper {
	overflow: scroll;
	background-color: #FFD700;
	height: 617px;
	width: 375px;
	max-height: 617px;
	max-width: 375px;
	position: absolute;
	top:50px;
	left:0px;
}

#filtriApp {
	background-color: #FFD700;
	font-size: 14px;
	height: 50px;
	width: 360px;
	max-height: 50;
	max-width: 375px;
	position: absolute;
	top: 617px;
	left:0px;
}

#P1 {
	position: relative;
	top: -10px;
	left:23px;
}

#valoreMaxPrezzo {
	height: 10px;
	width: 50px;
}

#P2 {
	position: relative;
	top: -20px;
	left:5px;
}

#valoreMaxDistance {
	height: 10px;
	width: 50px;
}

button {
	position: relative;
	left: 60px;
	border-radius: 10px 10px 10px 10px; 
	background-color: white;
	border-style: solid;
	border-color: #FFC125;
	border-width: 2px
	height: 50px;
	width: 250px;
}

#imgOfferta {
	display: inline-block;
	height:30px;
	width:30px;
	position: relative;
	top:5px;
	left:-20px;
}
/*
#prezzoOfferta {
	display: inline-block;
	color:#FF6600;
	font-size: 16px;
	font-weight: 900;
	position: relative;
	left:-5px;
}
*/
#impronta {
	display: inline-block;
	height:20px;
	width:20px;
	position: relative;
	left:5px;
}
/*
#distanzaOfferta {
	display: inline-block;
	color:#000099;
	font-size: 14px;
	font-weight: 500;
	position: relative;
	left:15px;
}
*/

